body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEADD;
}

.header {
    background-color: #FCAEAE;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #FF6666;
    margin: 16px;
    padding: 8px;
    border-radius: 40px;
    cursor: pointer;
}

.logo img {
    max-width: 50px;
}

.banner {
    color: #FF6666;
    text-align: center;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-banner {
    text-align: center;
    margin: 20px 0;
}


.image-banner img {
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.text {
    flex: 1;
    padding: 10px;
}


.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-content, .contact-content {
    padding: 20px;
}

.about-item, .contact-item {
    display: flex;
    align-items: center;
    
}

.benefits-items{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #FF6666;
}


.about-item img, .contact-item img, .benefits-items img{
    max-width: 140px;
    height: auto;
    border-radius: 5px;
}

.contact-image {
    text-align: center;
    margin: 20px 0;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-text {
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.benefits-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.estrellas{
    display: flex;
    justify-content: center;
    padding: 30px;
}


footer {
    color: white;
    background-color: #FF8989;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #FCAEAE;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.whatsapp-btn img {
    width: 30px;
    height: 30px;
}