body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEADD;
}

.header {
    background-color: #FCAEAE;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #FF6666;
    margin: 16px;
    padding: 8px;
    border-radius: 40px;
    cursor: pointer;
}

.logo img {
    max-width: 50px;
}

.banner {
    color: #FF6666;
    text-align: center;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-banner {
    text-align: center;
    margin: 20px 0;
}

.image-banner img {
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.image {
    flex: 1;
    text-align: center;
    min-width: 300px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-content, .contact-content {
    padding: 20px;
}

.about-item, .contact-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.benefits-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #FF6666;
    flex-wrap: wrap;
}

.about-item img, .contact-item img, .benefits-items img {
    max-width: 140px;
    height: auto;
    border-radius: 5px;
}

.contact-image {
    text-align: center;
    margin: 20px 0;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-text {
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.benefits-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    padding: 20px;
}

.estrellas {
    display: flex;
    justify-content: center;
    padding: 30px;
}

footer {
    color: white;
    background-color: #FF8989;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #FCAEAE;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.whatsapp-btn img {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}

.map {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.form {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    color: black;
    border: 2px solid #FF6666;
}

.form label {
    display: block;
    margin: 10px 0 5px;
}

.form input[type="submit"]:hover {
    background-color: #FF8989;
}


table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid #FF6666;
    margin: 30px;
}

th, td {
    width: 25%;
    height: 20%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 2%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

        
    .nav-links li {
        margin: 5px 0;
    }

    .content {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .benefits-items, .contact-info, .about-item, .contact-item {
        flex-direction: column;
    }

    table {
        width: 100%;
    }
}
